.box_login {
    background-color: #ffffff;
    width: 460px;
    height: 222px;
    left: 50%;
    margin-left: -230px;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    padding: 65px 0 30px 0;
    position: fixed;
    top: 15%;
}

.logo_login {
    position: absolute;
    top: -47px;
    left: 116px;
}

.link_login {
    width: 70%;
    height: 20px;
    line-height: 20px;
    margin: 5px auto 5px auto;
    color: #8d8d8d;
    font-size: 14px;
    -moz-user-select:none; /*火狐*/
    -webkit-user-select:none; /*webkit浏览器*/
    -ms-user-select:none; /*IE10*/
    -khtml-user-select:none; /*早期浏览器*/
    user-select:none;
    cursor: pointer;
}

.reg {
    margin-left: 2%;
}

.reg:hover {
    color: #369;
}

.getpsw {
    float: right;
    margin-right: 2%;
}

.getpsw:hover {
    color: #369;
}

.btn_login {
    width: 70%;
    height: 44px;
    background: #42a5f5;
    text-align: center;
    line-height: 44px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin: 15px auto 0 auto;
    cursor: pointer;
    -moz-user-select:none; /*火狐*/
    -webkit-user-select:none; /*webkit浏览器*/
    -ms-user-select:none; /*IE10*/
    -khtml-user-select:none; /*早期浏览器*/
    user-select:none;
}

.btn_login:active {
    padding: 2px 0 0 2px;
}